*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#nav-bar{
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.nav-contain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37rem;
}

#nav-bar .logo-contain{
    display: flex;
    align-items: center;
}

#nav-bar .logo-text{
    font-size: 1.2rem;
    color: #CF0D0D;
}

#nav-bar .nav-list ul{
    display: flex;
    list-style-type: none;
}

#nav-bar .nav-list li{
    padding-inline: 1rem;
}

#nav-bar .nav-list a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

#nav-bar .nav-btn{
    display: flex;
}

#nav-bar .nav-btn a{
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
}

#nav-bar .nav-btn img{
    margin: 0 0 0 .5rem;
    width: 20px;
    height: 20px;
}

#nav-bar .nav-btn input{
    padding: .6rem;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: .2rem;
    margin: 0 0 0 1.5rem;
}

#hero{
    display: flex;
    align-items: center;
    height: 80vh;
}

#hero .hero-text{
    width: 50rem;
    margin: 4%;
}

#hero .hero-text h1{
    font-size: 2.4rem;
    word-spacing: .7rem;
    margin: .2rem 0 0 0;
}

#hero .hero-text h1 span{
    color: rgb(214, 20, 20);
}

#hero .hero-text p{
    width: 28rem;
    font-size: 1.1rem;
    margin: .8rem 0;
    line-height: 1.4rem;
    color: rgb(145, 147, 147);
}

#hero .hero-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    background-color: white;
    border-radius: .3rem;
    box-shadow: 0 0 .6rem .5rem rgb(239, 238, 238);
    padding: .8rem;
}

#hero .search-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5rem;
}

#hero .search-con input{
    font-size: .9rem;
    color: rgb(156, 156, 156);
    border: transparent;
    background-color: transparent;
}

#hero .hero-right{
    background-color: rgb(26, 1, 43);
    height: 100vh;
    width: 70%;
}

#hero .hero-right .orange{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgb(252, 251, 244);
    position: absolute;
    top: 18%;
    right: 20%;
    padding: 1.5rem;
}

#hero .hero-right .orange img{
    width: 5rem;
    height: 5rem;
}

#hero .hero-right .blue{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 253);
    position: absolute;
    top: 42%;
    right: 5%;
    padding: 1.5rem;
}

#hero .hero-right .blue img{
    width: 5rem;
    height: 5rem;
}

#hero .hero-right .sea-blue{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgb(235, 244, 249);
    position: absolute;
    top: 62%;
    right: 26%;
    padding: 1.5rem;
}

#hero .hero-right .sea-blue img{
    width: 5rem;
    height: 5rem;
}

#hero .hero-right .cream{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgb(248, 243, 238);
    position: absolute;
    top: 38%;
    right: 44%;
    padding: 1.5rem;
    box-shadow: 0 .3rem .4rem 0 rgb(115, 114, 114);
}

#hero .hero-right .cream img{
    width: 5rem;
    height: 5rem;
}

#about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 9rem 0 0 0;
}

#about .abt-img img{
    width: 400px;
    height: 300px;
}

#about .abt-text h2{
    width: 20rem;
    font-size: 1.8rem;
}

#about .abt-text p{
    width: 485px;
    font-size: 1.1rem;
    margin: .9rem 0;
    line-height: 1.7rem;
    color: rgb(145, 147, 147);
}

#about .abt-text input{
    padding: .7rem 1rem;
    margin: 1rem 0 0 0;
    width: 9rem;
    border: transparent;
    border-radius: 2rem;
    background-color: rgb(214, 20, 20);
    color: white;
}

#course{
    margin: 4rem 0 5rem 0;
}

#course h2{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 0 0 0;
}

#course .course-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

#course .container{
    width: fit-content;
    height: 22.5rem;
    box-shadow: 0 0 .7rem .3rem rgb(236, 236, 236);
    text-align: center;
    padding: 2rem .5rem 0 .5rem;
    margin: 0 1.5rem;
    border-radius: .6rem;
}

#course #container{
    width: fit-content;
    height: 22.5rem;
    box-shadow: 0 0 .7rem .3rem rgb(236, 236, 236);
    text-align: center;
    padding: 2rem .5rem 0 .5rem;
    margin: 10rem 1.5rem 0 1.5rem;
    border-radius: .6rem;
}

#course .container img{
    width: 80px;
    height: 80px;
}

#course #container img{
    width: 80px;
    height: 80px;
}

#course .container h3{
    font-size: 1.5rem;
    word-spacing: .2rem;
    margin: 1.7rem 0 .8rem 0;
}

#course #container h3{
    font-size: 1.5rem;
    word-spacing: .2rem;
    margin: 1.7rem 0 .8rem 0;
}

#course .container p{
    width: 18rem;
    line-height: 2.3rem;
    margin: .8rem;
    font-size: 1.2rem;
    color: rgb(145, 147, 147);
}

#course #container p{
    width: 18rem;
    line-height: 2.3rem;
    margin: .8rem;
    font-size: 1.2rem;
    color: rgb(145, 147, 147);
}

#course .container a{
    color: rgb(214, 20, 20);
}

#course #container a{
    color: rgb(214, 20, 20);
}

#testimonial{
    margin: 6rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonial h2{
    font-size: 1.8rem;
    width: 15rem;
    text-align: center;
    word-spacing: .2rem;
}

#testimonial .test-contain{
    display: flex;
    align-items: center;
}

#testimonial .testimonials{
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    box-shadow: 0 0 1rem .5rem rgb(231, 230, 230);
    margin: 5rem .7rem 3rem .7rem;
}

#testimonial .testimonials-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14.8rem;
}

#testimonial .testimonials-img img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#testimonial .testimonials-img h4{
    font-size: 1.2rem;
}

#testimonial .testimonials p{
    width: 20rem;
    font-size: 1.1rem;
    color: rgb(145, 147, 147);
    line-height: 1.5rem;
    margin: .9rem 0;
}

#testimonial .testimonials .stars{
    height: 50px;
    width: 68px;
}

#footer{
    display: flex;
    padding: 3rem 3rem 3rem 6rem;
    background-color: rgb(26, 1, 43);
    color: rgb(225, 225, 225);
}

#footer .foot-logo .logo-contain{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#footer .foot-logo p{
    width: 15.7rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: .9rem 0;
}

#footer .foot-links, .foot-offers{
    margin: 0 5em 0 5rem;
}

#footer h4{
    font-size: 1.2rem;
    margin: 0 0 1.5rem 0;
}

#footer ul{
    list-style-type: none;
}

#footer a{
    text-decoration: none;
    line-height: 2rem;
    color: rgb(225, 225, 225);
    font-size: 1.1rem;
}